doctype html
html(lang='en')
  
  head
    title= title
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Demo: Auto-Complete</title>
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  block head
  
  body
    block content
    
  
